In [1]:
import pandas as pd
import os

In [2]:
file_path = "../../data/raw/fossil_fuel_co2_emissions-by-nation_with_continent.csv"

In [3]:
df = pd.read_csv(file_path)
df

,Year,Country,Continent,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
0,1751,UNITED KINGDOM,Europe,2552,2552,0,0,0,0,0.00,0
1,1752,UNITED KINGDOM,Europe,2553,2553,0,0,0,0,0.00,0
2,1753,UNITED KINGDOM,Europe,2553,2553,0,0,0,0,0.00,0
3,1754,UNITED KINGDOM,Europe,2554,2554,0,0,0,0,0.00,0
4,1755,UNITED KINGDOM,Europe,2555,2555,0,0,0,0,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...
17227,2014,VIET NAM,Asia,45517,19246,12694,5349,8229,0,0.49,761
17228,2014,WALLIS AND FUTUNA ISLANDS,Oceania,6,0,6,0,0,0,0.44,1
17229,2014,YEMEN,Asia,6190,137,5090,581,381,0,0.24,153
17230,2014,ZAMBIA,Africa,1228,132,797,0,299,0,0.08,33
17231,2014,ZIMBABWE,Africa,3278,2097,1005,0,177,0,0.22,9

In [ ]:
df['Year']